html{
    background-image: url(../coffee/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    
}



h1{
    text-align: center;
    margin-top: 5%;
    font-family: 'Brush Script MT';
    border-bottom: 7px solid #262525; 
    padding-bottom: 10px;
    font-size: 40px;   
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262525;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(92, 90, 90);
  }
  
  .active {
    background-color: #aa3e04;
  }


  .container {
    display: flex;
    margin-top: 3%;
}

.column{
    border: 7px solid #333;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
font-family: 'Dancing Script', cursive;

}

.space{
    width: 150%;
}

.pic{
     width: 20%;
     display: block;
     margin: 0 auto;
}

#gif{

    width: 30%;
    display: block;
    margin: 0 auto;

}

a:visited{
  color: white;
}

.text{
  padding: 2%;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 0%;
}

footer a {
  color: #f2f2f2;
  text-decoration: underline;
  margin: 0 10px;
}

footer a:hover {
  color: #aa3e04;
}

.footer-links {
  margin: 10px 0;
}





